$hitam: #000;
$putih: #fff;
$hijau_stabilo: #00ff04;

$kondisi_produksi: #00BA00;
$kondisi_stop: #FE0000;
$kondisi_dandori: #FFFF00;
$kondisi_trbl_die: #008584;
$kondisi_trbl_mc: #FF7F00;

body {
	background-color: $hitam;
	text-transform: uppercase;
	color: $putih;
	font-size: 2vw;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

.mm25 {
	width: 25vw !important;
	text-align: center;
	font-size: 2vw !important;
	vertical-align: middle;
	padding: 0px !important;
}

.mm12 {
	height: 12vh !important;
	text-align: center;
	vertical-align: top;
	padding: 0px !important
}

.mm18 {
	width: 16vw !important;
	text-align: center;
	vertical-align: middle !important;
	padding: 0px !important;
	// background-color: $kondisi_stop;
	color: $putih;

	span {
		font-size: 4.2vw !important;
	}
}

.line {
	width: 32.5vw !important;
	border-bottom: 2px solid #fff;
	right: 66.1vw;
	bottom: 92.5vh;
	transform: translateY(0vh) translateX(0vw) rotate(10.4deg) scaleX(0.8) scaleY(0.8);
	position: fixed;
	z-index: -1;
	font-size: 1.5vmax;
}

.bottom {
	position: absolute;
	right: 89%;
	top: 8%;
	font-size: 1.5vmax;
	transform: translateY(1vh) translateX(1vw) scaleX(0.8) scaleY(0.8);
}

.top {
	position: fixed;
	top: 1%;
	right: 73%;
	font-size: 1.5vmax;
	transform: translateY(1vh) translateX(1vw) scaleX(0.8) scaleY(0.8);
}

table {
	border: 2px solid #fff !important;
	-webkit-border-horizontal-spacing: 0px !important;
	-webkit-border-vertical-spacing: 0px !important;

	thead {
		border: 2px solid #fff !important;

		tr {
			border: 1px solid #fff !important;

			td {
				border: 1px solid #fff !important;
				height: 14vh !important;

				.mm18 {
					padding: 0px !important;
				}
			}

			th {
				border: 1px solid #fff !important;
				height: 14vh !important;

				.mm18 {
					padding: 0px !important;
				}
			}
		}
	}

	tbody {
		tr {
			border: 1px solid #fff !important;

			th {
				border: 1px solid #fff !important;
				height: 14vh !important;

				.mm18 {
					padding: 0px !important;
				}
			}

			td {
				border: 1px solid #fff !important;
				height: 14vh !important;
				vertical-align: middle !important;

				.mm18 {
					padding: 0px !important;
				}
			}
		}
	}
}

.p10 {
	padding: 10px;
}

.tg {
	color: $hijau_stabilo;
	padding: 0px !important;
	vertical-align: top !important;
}

.tgu {
	color: $hijau_stabilo;
	padding: 0px !important;
	vertical-align: top !important;
	transform: scale(0.8, 1.3) translateY(3vh);
	font-size: 1vw;
}

.tgb {
	color: $hijau_stabilo;
	padding: 0px !important;
	vertical-align: bottom !important;
	transform: scale(0.8, 1.3) translateY(-3vh);
	font-size: 1vw;
}


.frx {
	font-size: 1.6em !important;
	letter-spacing: 0.5vw;
	vertical-align: middle !important;
}

.produksi_aktif {
	background-color: $kondisi_produksi;
	color: $hitam !important;
}

.stop_aktif {
	background-color: $kondisi_stop;
	color: $hitam !important;
}

.dandori_aktif {
	background-color: $kondisi_dandori;
	color: $hitam !important;
}

.trbl_die_aktif {
	background-color: $kondisi_trbl_die;
	color: $hitam !important;
}

.trbl_die_blink {
	background-color: $hitam;
	color: $putih !important;
}

.trbl_mc_aktif {
	background-color: $kondisi_trbl_mc;
	color: $hitam !important;
}

.trbl_mc_blink {
	background-color: $hitam;
	color: $putih !important;
}

.trigger_modal:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.fly_i {
	position: absolute;
	top: 54vh;
	left: 30.2vw;
	width: 14vw;
}

.fly_h {
	position: absolute;
	top: 54vh;
	left: 48.2vw;
	width: 14vw;
}

.fly_aa {
	position: absolute;
	top: 54vh;
	left: 65.3vw;
	width: 14vw;
}

.fly_z {
	position: absolute;
	top: 54vh;
	left: 83vw;
	width: 14vw;
}
