body {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 2vw;
  font-family: verdana, sans-serif;
  font-weight: bold;
}

.mm25 {
  width: 20vw !important;
  text-align: center;
  font-size: 2vw !important;
  vertical-align: middle;
  padding: 0px !important;
}

.judulkiri {
  transform: scaleX(1) scaleY(1.5);
  text-align: center;
  font-weight: bold;
}

.mm12 {
  height: 12vh !important;
  text-align: center;
  vertical-align: top;
  padding: 0px !important;
}

.mm18 {
  width: 16vw !important;
  text-align: center;
  vertical-align: middle !important;
  padding: 0px !important;
  color: #fff;
}
.mm18 span {
  font-size: 4.2vw !important;
}

.line {
  width: 32.5vw !important;
  border-bottom: 2px solid #fff;
  right: 66.1vw;
  bottom: 92.5vh;
  transform: translateY(0vh) translateX(0vw) rotate(10.4deg) scaleX(0.8) scaleY(0.8);
  position: fixed;
  z-index: -1;
  font-size: 1.5vmax;
}

.bottom {
  position: absolute;
  font-size: 0.8em;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: left;
  transform: scaleY(1) scaleX(1);
  padding: 5px;
}

.top {
  position: absolute;
  font-size: 0.8em;
  width: 100%;
  top: 0%;
  left: 0%;
  transform: scaleY(1) scaleX(1);
  text-align: right;
  padding: 5px;
}

table {
  border: 2px solid #fff !important;
  -webkit-border-horizontal-spacing: 0px !important;
  -webkit-border-vertical-spacing: 0px !important;
}
table thead {
  border: 2px solid #fff !important;
}
table thead tr {
  border: 1px solid #fff !important;
}
table thead tr td {
  border: 1px solid #fff !important;
  height: 14vh !important;
}
table thead tr td .mm18 {
  padding: 0px !important;
}
table thead tr th {
  position: relative !important;
  border: 1px solid #fff !important;
  height: 14vh !important;
}
table thead tr th .mm18 {
  padding: 0px !important;
}
table tbody tr {
  border: 1px solid #fff !important;
}
table tbody tr th {
  border: 1px solid #fff !important;
  height: 14vh !important;
}
table tbody tr th .mm18 {
  padding: 0px !important;
}
table tbody tr td {
  position: relative;
  border: 1px solid #fff !important;
  height: 14vh !important;
  vertical-align: middle !important;
}
table tbody tr td .mm18 {
  padding: 0px !important;
}
table tbody tr td span {
  position: absolute;
}

.p10 {
  padding: 10px;
}

.tg {
  color: #00ff04;
  padding: 0px !important;
  vertical-align: top !important;
}

.tgu {
  color: #00ff04;
  padding: 0px !important;
  vertical-align: top !important;
  transform: scale(1, 1) translateY(3vh);
  font-size: 2vw;
}

.tgb {
  color: #00ff04;
  padding: 0px !important;
  vertical-align: bottom !important;
  transform: scale(1, 1) translateY(-3vh);
  font-size: 2vw;
}

.frx {
  font-size: 1.6em !important;
  letter-spacing: 0.5vw;
  vertical-align: middle !important;
}

.produksi_aktif {
  background-color: #00BA00;
  color: #000 !important;
}

.stop_aktif {
  background-color: #FE0000;
  color: #000 !important;
}

.dandori_aktif {
  background-color: #FFFF00;
  color: #000 !important;
}

.trbl_die_aktif {
  background-color: #008584;
  color: #000 !important;
}

.trbl_die_blink {
  background-color: #000;
  color: #fff !important;
}

.trbl_mc_aktif {
  background-color: #FF7F00;
  color: #000 !important;
}

.trbl_mc_blink {
  background-color: #000;
  color: #fff !important;
}

.trigger_modal:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.fly_i {
  position: absolute;
  top: 54vh;
  left: 27.4vw;
  width: 14vw;
}

.fly_h {
  position: absolute;
  top: 54vh;
  left: 45.4vw;
  width: 14vw;
}

.fly_aa {
  position: absolute;
  top: 54vh;
  left: 64.1vw;
  width: 14vw;
}

.fly_z {
  position: absolute;
  top: 54vh;
  left: 82.2vw;
  width: 14vw;
}

.td_angka > span {
  position: absolute;
  left: 0vw;
  top: 0vh;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
